<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!--Keep the console on info because debug puts too much there to be of use anyway -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
        </layout>
    </appender>
    
    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SOCKET"/>
    </appender>
    
    <!-- This will place a file called output.log in tomcat's bin directory -->
    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="threshold" value="INFO"/>
        <param name="File" value="output.log"/>
        <param name="MaxFileSize" value="1MB"/>
        <param name="MaxBackupIndex" value="100"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
        </layout>
    </appender>

    <!-- Writes to a socket on which the chainsaw tool is listening -->
    <appender name="SOCKET" class="org.apache.log4j.net.SocketAppender">
        <param name="threshold" value="DEBUG"/>
        <param name="remoteHost" value="localhost"/>
        <param name="port" value="4560"/>
    </appender>
    
    <root>
        <appender-ref ref="ASYNC"/>
    </root>
</log4j:configuration>