.icon-folder-add {
	background-image: url(../images/fam/icons/folder_add.png);
}

.icon-tab-add {
	background-image: url(../images/fam/icons/folder_add.png);
}
.icon-tab-remove {
	background-image: url(../images/fam/icons/folder_add.png);
}